@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Public+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --color-background: #f9f9f9;
  --color-error: #ba1a1a;
  --color-primary-container: #ffbf00;
  --color-primary-fixed-dim: #fbbc00;
  --color-on-secondary-fixed: #1c1b1b;
  --color-on-error: #ffffff;
  --color-on-tertiary-container: #665211;
  --color-surface-container-highest: #e2e2e2;
  --color-on-primary: #ffffff;
  --color-surface: #f9f9f9;
  --color-on-secondary-fixed-variant: #474746;
  --color-on-background: #1a1c1c;
  --color-secondary-fixed: #e5e2e1;
  --color-primary-fixed: #ffdfa0;
  --color-on-tertiary: #ffffff;
  --color-on-error-container: #93000a;
  --color-on-primary-fixed-variant: #5c4300;
  --color-tertiary-container: #e2c77a;
  --color-tertiary: #705c1b;
  --color-secondary: #5f5e5e;
  --color-on-secondary-container: #636262;
  --color-inverse-on-surface: #f0f1f1;
  --color-surface-container: #eeeeee;
  --color-on-primary-container: #6d5000;
  --color-surface-tint: #795900;
  --color-surface-variant: #e2e2e2;
  --color-inverse-surface: #2f3131;
  --color-secondary-container: #e2dfde;
  --color-tertiary-fixed-dim: #dfc478;
  --color-on-surface: #1a1c1c;
  --color-on-tertiary-fixed-variant: #574502;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-on-primary-fixed: #261a00;
  --color-inverse-primary: #fbbc00;
  --color-tertiary-fixed: #fde091;
  --color-on-tertiary-fixed: #241a00;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #f9f9f9;
  --color-primary: #795900;
  --color-outline: #827660;
  --color-surface-container-low: #f3f3f4;
  --color-on-secondary: #ffffff;
  --color-surface-dim: #dadada;
  --color-outline-variant: #d4c5ab;
  --color-surface-container-high: #e8e8e8;
  --color-on-surface-variant: #504532;
  --color-error-container: #ffdad6;

  --font-headline: "Newsreader", serif;
  --font-body: "Public Sans", sans-serif;
  --font-label: "Public Sans", sans-serif;
  
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
  h1, h2, h3, h4, h5 {
    font-family: var(--font-headline);
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  ::selection {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
  }
}
